.card {
width: 250px;
height: 250px;
color: white;
font-weight: bold;
}

.card-body {
background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), asset-url('mojito.jpeg');
background-size: cover;
background-position: cover;
border-radius: 5px;
}

.card-body a {
  color: black;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 10px 5px;
  border-radius: 10px;

}

.card-body a:hover {
  color: black;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 10px 5px;
  border-radius: 10px;
}

.card-show {
background-color: rgb(240, 240, 240);
width: 300px;
height: 200px;
box-shadow: 0px 10px 30px;
color: black;
border-radius: 10px;
}
